@charset 'utf-8';
@import 'settings';
@import 'mixins';
@import 'foundation';
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600'); //Layout

*,
* ::after,
* ::before {
  box-sizing: border-box;
}

%clearfix {
  @include clearfix();
}

.outer {
  max-width: 100%;
  overflow: hidden;
}

.peach,
.t-peach {
  background: $peach;
}
//header
//Navigation

.main-nav {
  background: $blue;
}

#main-menu {
  list-style-type: none;
  margin: 0;

  a {
    display: block;
    padding: $grid-column-gutter/4 $grid-column-gutter/2;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }

  .sub-menu {
    list-style-type: none;

    a {
      display: block;
      margin: 0 $grid-column-gutter/2;
      padding: $grid-column-gutter/10 0;

      &:hover,
      &focus {
        background: $dark-blue;
        color: $white;
        padding-left: $grid-column-gutter/4;
      }
    }
  }
}
//menu-button

.menu-button {
  display: block;
  cursor: pointer;
  background: $blue;
  padding-bottom: $grid-column-gutter/6;

  &.active {
    .menu-button-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.menu-button-box {
  width: rem-calc(50);
  height: rem-calc(50);
  padding: $grid-column-gutter/2;
  display: block;
  position: relative;
  vertical-align: middle;
  transition: transform 0.25s;
  background-color: $blue;
}

.menu-button-label {
  color: $dark-blue;
  vertical-align: middle;
  padding: 0 $grid-column-gutter/2;
  font-family: 'Open Sans', sans-serif;
  font-size: rem-calc(16);
}

.menu-button-inner {
  display: block;
  top: 100%;
  margin-top: rem-calc(-27);
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &,
  &::after,
  &::before {
    width: rem-calc(40);
    height: rem-calc(5);
    background-color: $dark-blue;
    border-radius: rem-calc(1);
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::after,
  &::before {
    content: "";
    display: block;
  }

  &::before {
    top: rem-calc(11);
    right: rem-calc(0);
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }

  &::after {
    bottom: rem-calc(11);
    right: rem-calc(0);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
//Logo

.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  height: auto;
  background: $white;
  padding: $grid-column-gutter/4;
}
//main
//head-box

.head-box {
  background: $dark-blue;
  color: $white;
}
