@charset 'utf-8';
@import 'settings';
@import 'mixins';
@import 'foundation';
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes; //reset//

*,
*::after,
*::before {
  box-sizing: border-box;
}

%clearfix {
  @include clearfix();
}

.outer {
  position: relative;
  max-width: 100%;
  // overflow: hidden;
}

a {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}
//layout
//breadcrumb

.breadcrumb {
  width: 100%;
  height: auto;
  padding: 0 0 0 $grid-column-gutter;
}

#breadcrumb-menu {
  margin: 0;

  li {
    list-style: none;
    float: left;
  }

  a {
    text-decoration: none;

    &:hover {
      span {
        text-decoration: underline;
        color: $black;
      }
    }

    span {
      &::before {
        background: url("../img/icons.svg#bread-passive-white") center/contain no-repeat;
      }
    }
  }

  span {
    color: $dark-gray;
    display: block;
    margin-top: $grid-column-gutter/4;
    padding: $grid-column-gutter/6 $grid-column-gutter 0;
    display: block;
    border-bottom: 2px solid $dark-gray;
    position: relative;

    &::before {
      background: url("../img/icons.svg#bread-active-black") center/contain no-repeat;
      position: absolute;
      bottom: -12px;
      left: -1px;
      display: inline-block;
      content: '';
      margin: 0;
      width: rem-calc(22);
      height: rem-calc(22);
    }
  }
}
@include breakpoint (xlarge down) {
  .breadcrumb {
    display: none;
  }
}
//Main menu

.menu-wrap {
  position: fixed;
  right: 0;
  top: $grid-column-gutter*2;
  width: 15%;
  height: 90vh;
  border-left: 2px solid $dark-gray;
  padding-top: $grid-column-gutter;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: $grid-column-gutter;
  text-align: center;
}

.pplogowkmvsb {
  width: rem-calc(180);
  margin: auto;
}

.ppicon,
.pplogo {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: center;
}

.menu-button {
  display: none;
}

#main-menu {
  margin: 0;
  list-style-type:: none;

  a {
    @extend %btn-circle;
  }
}
@include breakpoint(xlarge down) {
  .menu-wrap {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
    padding: $grid-column-gutter $grid-column-gutter 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    position: static;
    text-align: left;
    width: 50%;
  }

  .pplogo {
    width: rem-calc(300);
    height: auto;
    display: block;
  }

  .ppicon,
  .pplogowkmvsb {
    display: none;
  }

  .main-nav {
    width: 50%;
    justify-content: flex-end;
  }

  #main-menu {
    li {
      display: inline-block;
    }

    a {
      width: rem-calc(100);
      height: rem-calc(100);
      border: none;
      padding: 0;
    }

    .symbol {
      width: rem-calc(35);
      height: rem-calc(35);
    }
  }
}
@include breakpoint(large down) {
  .menu-wrap {
    position: relative;
    padding: $grid-column-gutter/2 $grid-column-gutter;
  }

  .logo {
    width: 25%;
    height: auto;
  }

  .ppicon {
    width: rem-calc(78);
    height: rem-calc(78);
    display: block;
  }

  .pplogo,
  .pplogowkmvsb {
    display: none;
  }

  .menu-button {
    display: block;
    position: absolute;
    top: $grid-column-gutter;
    right: $grid-column-gutter;
    cursor: pointer;

    .symbol {
      float: left;
      display: block;
      width: rem-calc(40);
      height: rem-calc(40);
      color: $dark-gray;
      fill: #555555;
    }

    &:focus,
    &:hover {
      .symbol,
      span {
        color: $green;
        fill: $black;
      }

      span {
        border-bottom: 1px solid $green;
      }
    }

    .menu-button-label {
      font-size: rem-calc(22);
      float: left;
      margin: rem-calc(11) rem-calc(15) 0 0;
    }
  }

  .main-nav {
    display: block;
    width: 100%;
  }

  #main-menu {
    margin-top: $grid-column-gutter/2;
    display: none;

    li {
      display: block;
    }

    li:last-child a {
      border-bottom: 1px solid $black;
    }

    a {
      width: 100%;
      text-align: left;
      padding-top: $grid-column-gutter/1.5;
      padding-bottom: $grid-column-gutter*1.5;
      border-radius: 0;
      border-top: 1px solid $black;
      margin: 0;
      font-size: rem-calc(21);

      .symbol {
        vertical-align: middle;
        margin-right: $grid-column-gutter/2;
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }

      &:hover {
        .symbol {
          color: $green;
        }
      }
    }
  }
}
@include breakpoint(medium down) {
  .menu-wrap {
    padding-left: $grid-column-gutter/2;
    padding-right: $grid-column-gutter/2;
  }

  .menu-button {
    right: $grid-column-gutter/2;
  }
}
// main

#main {
  width: 85%;
  height: 100vh;
  padding: $grid-column-gutter*3 $grid-column-gutter $grid-column-gutter*6;

  p {
    font-size: rem-calc(28);
  }
}
@include breakpoint(xlarge down) {
  #main {
    width: 100%;
    height: auto;
    padding-top: 0;
  }
}
@include breakpoint(medium down) {
  #main {
    padding-left: $grid-column-gutter/2;
    padding-right: $grid-column-gutter/2;
  }
}
//slider
//header

.section {
  @extend %clearfix;
}

.section:not(.s-p0) {
  padding: 0 $grid-column-gutter $grid-column-gutter*3;
}

.section:not(.s-excerpt) {
  ol,
  ul {
    font-size: rem-calc(28);
    list-style-type: square;
    margin-left: rem-calc(28);
  }
}

.slide {
  margin-bottom: $grid-column-gutter*2;

  .header {
    @include aspectratio('8', '100');
    width: 100%;
    background: $light-green;
    padding: $grid-column-gutter;
    position: relative;
    margin-bottom: $grid-column-gutter;
    color: $dark-gray;

    &:before {
      padding-top: 8%;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  h1 {
    margin: 0;
    color: $dark-gray;
    @include fluidType(40px, 60px, 1024px, 1920px);
  }
}
@include breakpoint (xlarge down) {
  .slide {
    h1 {
      @include fluidType(30px, 35px, 640px,1024px);
    }
  }
}
//Inhaltsmodule
// Text mit Bild
@include col('text-and-image', 'col-2', 1, 2, $bol: false);

.text-and-image {
  .col-2:first-of-type {
    padding-right: $grid-column-gutter/2;
  }
}
@include breakpoint(large down) {
  @include col('text-and-image', 'col-2', 1, 1, $bol: false);
}
//Contact Items
@include col('contact-items', 'contact-item', 1, 3);
@include config-order('c-', 'picture' 1, 'name' 2, 'text' 3, 'phone' 4, 'mail' 5, 'map' 6);

.contact-item {
  div {
    display: block;
    width: 100%;
  }

  h3 {
    color: $dark-gray;
  }

  a {
    color: $black;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}

.c-content {
  background: $light-gray;
  padding: $grid-column-gutter/2 $grid-column-gutter/4;
  font-size: rem-calc(21);
}
@include breakpoint(xlarge down) {
  @include col('contact-items', 'contact-item', 1, 2);
}
@include breakpoint(large down) {
  @include col('contact-items', 'contact-item', 1, 1);
}
//tiles + Link Fields

.imageteaser,
.link-fields {
  @extend %clearfix;
  list-style: none;
  margin-left: -$grid-column-gutter/2;
  margin-right: -$grid-column-gutter/2;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;

  a[target="_blank"] {
    position: relative;

    &:before {
      content: "";
      background: url("../img/icons.svg#extern-link") center/contain no-repeat;
      width: rem-calc(24);
      height: rem-calc(24);
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  a {
    display: block;
    text-decoration: none;
    background: $light-gray;
    color: $black;
    line-height: 1;
    overflow: hidden;

    span {
      position: relative;
      display: block;
      padding: rem-calc(24 56 24 16);
      transition: all 0.125s ease-in;
      font-size: rem-calc(24);

      &::before {
        content: ' ';
        position: absolute;
        right: rem-calc(-10);
        top: 0;
        bottom: 0;
        display: block;
        margin-right: rem-calc(-20);
        width: 1rem + rem-calc(42);
        background: $green;
        transform-origin: 100% 0;
        transform: skew(-15deg);
        transition: all 0.125s ease-in;
      }

      &::after {
        position: absolute;
        right: 0;
        top: 50%;
        font-family: $body-font-family;
        content: '❯';
        margin-top: -.55em;
        font-size: 1.4em;
        width: rem-calc(32);
        text-align: center;
        transition: all 0.125s ease-in;
        color: $white;
      }

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }

    &:focus,
    &:hover {
      color: #000;

      span::before {
        margin-right: rem-calc(-14);
        top: -10px;
      }

      span::after {
        font-weight: bold;
        font-size: 2em;
        margin-top: -.65em;
        width: rem-calc(40);
      }
    }
  }
}

.imageteaser {
  .column {
    width: 1/3 * 100%;
    padding: rem-calc(0 $grid-column-gutter/2 $grid-column-gutter $grid-column-gutter/2);

    img {
      width: 100%;
    }
  }
}

.link-fields {
  .column {
    width: 1/4 * 100%;
    padding: rem-calc(18$grid-column-gutter/2 $grid-column-gutter/2);
    overflow: hidden;

    a {
      overflow: visible;
    }

    span {
      &:before {
        right: rem-calc(-30);
        margin-right: rem-calc(-20);
        width: rem-calc(38) + rem-calc(42);
      }
    }
  }
}
@include breakpoint (medium down) {
  .imageteaser,
  .link-fields {
    .column {
      width: 50%;
    }
  }
}
@include breakpoint (small down) {
  .imageteaser,
  .link-fields {
    .column {
      width: 100%;
    }
  }
}
//Table Menu

.essensplan {
  .section {
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .casino-menu {
    position: absolute;
    width: rem-calc(200);
    height: auto;
    top: rem-calc(14);
    right: 0;
  }

  .menu-contact,
  .menu-information,
  .menu-opening {
    margin-bottom: $grid-column-gutter;

    h4 {
      margin-top: rem-calc(32);
    }

    p {
      font-size: rem-calc(21);
      margin: 0;
    }

    ul {
      column-count: 3;
      list-style-type: none;
      font-size: rem-calc(18);
      margin: 0;
    }

    a,
    span {
      color: $green;
    }

    a {
      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
    @include breakpoint (xlarge down) {
      ul {
        column-count: 2;
      }
    }
    @include breakpoint (medium down) {
      ul {
        column-count: 1;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;

  &.comment {
    tr {
      border: none;
    }

    span {
      font-size: rem-calc(14);
    }
  }
}

tr {
  border-bottom: 1px solid $dark-gray;

  &.today {
    background: $light-gray;
    border-bottom: 5px solid $orange;
  }
}

td,
th {
  text-align: left;
  vertical-align: text-top;
  padding: rem-calc(10);
}

td:before,
th {
  font-size: rem-calc(30);
  color: $green;
  font-weight: normal;
}

td {
  font-size: rem-calc(21);
  width: 30.83%;

  &:first-child {
    width: 7.5%;
  }

  &:before {
    display: none;
  }

  a {
    color: $dark-gray;
    margin: rem-calc(-10);
    padding: rem-calc(10);
    display: block;
    position: relative;

    &:after {
      content: '';
      background: url("../img/icons.svg#touch-button") center/contain no-repeat;
      width: rem-calc(37/1.5);
      height: rem-calc(29/1.5);
      display: inline-block;
      position: absolute;
      bottom: rem-calc(10);
      right: rem-calc(25);
    }

    &:hover {
      background: $light-gray;
      color: $dark-gray;
    }
  }

  .date,
  .day {
    display: block;
  }

  .additive,
  .menu {
    width: 80%;
    display: inline-block;
    vertical-align: text-top;
  }

  .menu {
    padding-right: rem-calc(18);
  }

  .additive {
    margin-top: 0.5rem;
    font-size: rem-calc(16);
  }

  .price {
    font-size: rem-calc(24);
    font-weight: bold;
    color: $green;
    white-space: nowrap;
  }
}
@include breakpoint (xlarge down) {
  table,
  tbody,
  td,
  tr {
    display: block;
  }

  th,
  tr:first-of-type {
    display: none;
  }

  tr {
    margin-left: -$grid-column-gutter;
    margin-right: -$grid-column-gutter;
    padding: $grid-column-gutter;

    &:nth-of-type(2) {
      padding-top: 0;
    }
  }

  td {
    width: auto;

    &:before {
      display: block;
    }
  }

  td:nth-child(2)::before {
    content: "Trend";
  }

  td:nth-child(3)::before {
    content: "Klassik";
  }

  td:nth-child(4)::before {
    content: "Heimat";
  }

  td {
    padding-left: 0;
    padding-right: 0;

    &:before {
      margin: rem-calc(20 0 10 0);
      @include fluidType(24px, 36px, 320px, 1440px);
    }

    .menu {
      @include fluidType(24px, 28px, 320px, 1440px);
    }

    .price {
      float: right;
      @include fluidType(24px, 28px, 320px, 1440px);
    }

    .date,
    .day {
      display: inline-block;
    }
  }
}
@include breakpoint (medium down) {
  td {
    .menu {
      width: 60%;
    }
  }
}
//Detail Menu

.detail-menu {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -$grid-column-gutter*3;
  left: -$grid-column-gutter;
  background: $white;
  z-index: 10000;

  .close {
    position: absolute;
    top: $grid-column-gutter;
    right: $grid-column-gutter;
    width: rem-calc(200);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: $green;
    }
  }

  .symbol {
    width: rem-calc(60);
    height: rem-calc(60);
    vertical-align: middle;
    margin-left: rem-calc(8);

    &:hover {
      color: $green;
    }
  }
}

.detail-wrap {
  display: grid;
  grid-template-columns: repeat(4, [col] 25%);
  grid-template-rows: [row] auto [row] auto;
  position: relative;
  width: 50%;
  top: 40%;
  left: 50%;
  transform: translateY(-60%) translateX(-50%);

  .a,
  .b,
  .c,
  .d {
    padding: $grid-column-gutter $grid-column-gutter 0;
  }

  .a,
  .b {
    border-bottom: 1px solid $dark-gray;
  }

  .b,
  .c {
    text-align: right;
  }

  .a {
    grid-column: col / span 3;
    grid-row: row;
  }

  .b {
    grid-column: col 3 / span;
    grid-row: row;
  }

  .c {
    grid-column: col / span 2;
    grid-row: row 2;
  }

  .d {
    grid-column: col 3 / span 2;
    grid-row: row 2;
  }
}

.detail-item {
  h2 {
    font-size: rem-calc(34);
    color: $dark-gray;
  }

  span {
    color: $green;
    font-size: rem-calc(34);
  }

  h3 {
    font-size: rem-calc(28);
    color: $black;
  }

  ul {
    margin: 0;
    list-style-type: none;

    span {
      font-size: inherit;
    }
  }

  &.c {
    ul {
      margin-left: $grid-column-gutter/2;

      li {
        text-align: left;
      }
    }
  }
}
@include breakpoint(large down) {
  .detail-item {
    h2,
    span {
      font-size: rem-calc(28);
    }

    h3 {
      font-size: rem-calc(22);
    }
  }
}
@include breakpoint(medium down) {
  .detail-menu {
    .close {
      right: 0;
    }
  }

  .detail-wrap {
    background: $white;
    width: 90%;
    top: 40%;
    left: 47.5%;

    .detail-item {
      padding: $grid-column-gutter/3 $grid-column-gutter/3 0;

      &.a,
      &.b {
        padding: 0;
      }
    }
  }

  .detail-item {
    padding: $grid-column-gutter/3;
  }
}
//Suche

.search {
  width: 50%;
  margin: 0 auto;
  padding: $grid-column-gutter*2 0;
  border-radius: rem-calc(10);
  background: $light-gray;

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  input[type=text] {
    width: 75%;
    padding: $grid-column-gutter;
    border-radius: rem-calc(6);
    margin-right: rem-calc(10);
    border-color: $dark-gray;
  }

  .symbol {
    width: rem-calc(60);
    height: rem-calc(60);
    color: $dark-gray;
  }
}

.search-result {
  a {
    text-decoration: none;

    &:focus,
    &:hover {
      h2 {
        color: $green;
        text-decoration: underline;
      }
    }
  }

  h2 {
    font-size: rem-calc(30);
    margin-bottom: rem-calc(18);
    color: $dark-gray;

    &:after {
      @extend %link-arrow;
    }
  }
}
//Kontaktformular

#acf-form {
  .acf-field {
    padding: 0;

    label {
      margin-top: $grid-column-gutter/2;
      font-weight: normal;
      font-size: rem-calc(24);
    }

    input {
      padding: $grid-column-gutter/1.2;
      border-radius: rem-calc(4);
    }
  }

  .btn-senden {
    margin-top: rem-calc(30);
    padding: $grid-column-gutter/2;
    font-size: rem-calc(21);
    background: $green;
    color: $white;
    border-radius: rem-calc(4);
    float: right;
    transition: background 0.1s;

    &:focus,
    &:hover {
      text-decoration: underline;
      background: $dark-gray;
    }
  }
}

#acf-form {
  .acf-field {
    .acf-label {
      display: inline-block;

      label {
        display: inline-block;
      }
    }

    .acf-input {
      display: inline;
    }

    .acf-input-wrap {
      clear: both;
    }

    .acf-error-message {
      display: inline;
      float: right;
      top: rem-calc(22);
      background: $white;

      p {
        margin: 0;
        font-size: rem-calc(21);
        display: inline;
      }
    }
  }
}
//Sitemap

.wsp-pages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: rem-calc(550);
  margin: 0;

  li {
    flex: 1 1 33.33%;
  }

  a {
    color: $dark-gray;
    text-decoration: none;
    display: block;
    padding: $grid-column-gutter/2 0 0;
    font-size: rem-calc(20);

    &:after {
      @extend %link-arrow;
    }

    &:focus,
    &:hover {
      color: $green;
      text-decoration: underline;
    }
  }
}

.children {
  list-style-type: none;

  a {
    padding: $grid-column-gutter/6 0;
  }
}
//Footer

.footer {
  position: fixed;
  z-index: 2000;
  bottom: 0;
  display: block;
  padding: $grid-column-gutter/2 $grid-column-gutter;
}

#footer-menu {
  list-style-type: none;
  margin: 0;

  li {
    display: inline-block;
  }

  a {
    display: block;
    color: $medium-gray;
    margin-right: $grid-column-gutter/2;
    text-decoration: none;
    font-size: rem-calc(16);

    &:focus,
    &:hover {
      text-decoration: underline;
      color: $black;
    }
  }
}
/*-------Startseite--------*/
.home {
  .slide {
    #banner {
      margin-bottom: $grid-column-gutter;
      padding: $grid-column-gutter*2 $grid-column-gutter $grid-column-gutter;
      display: none;

      &:before {
        padding-top: 22.5%;
      }

      h1 {
        @include fluidType(35px, 50px, 1024px, 1920px);
      }

      .sub-title {
        @include fluidType(25px, 30px, 1024px,1920px);
      }
    }
  }
}
@include breakpoint (xlarge down) {
  .home {
    .slide {
      .header {
        margin-bottom: $grid-column-gutter;
        padding-top: $grid-column-gutter;
      }

      .sub-title {
        @include fluidType(20px, 25px, 640px,1024px);
      }
    }
  }
}
/*-------Terminal--------*/
//Startseite

.terminal {
  .home {
    .slick-list {
      margin-top: rem-calc(-21);
    }

    #header {
      display: none;
    }
  }
}
//Allgemien

.terminal {
  .outer {
    overflow: hidden;
  }

  .section {
    padding-bottom: 0;
  }

  .breadcrumb {
    z-index: 1000;
    position: fixed;
    background: $white;
    top: 0;
  }

  .btn-wrap {
    z-index: 1000;
    width: 85%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: $grid-column-gutter/2;
    background: $white;
    display: flex;
    justify-content: center;
  }

  .btn {
    @extend %btn-circle;
    cursor: pointer;
    width: rem-calc(110);
    height: rem-calc(110);
    margin-left: $grid-column-gutter/4;
    margin-right: $grid-column-gutter/4;
    padding: 0;
    margin-bottom: 0;

    .symbol {
      width: rem-calc(30);
      height: rem-calc(30);
    }
  }

  .slide {
    height: 100vh;
  }

  .footer {
    bottom: $grid-column-gutter/2;
    background: transparent;
  }
}
/*-------Terminal Pforte Barlachstraße----------*/
// Banner nur am Terminal Pforte Barlachstraße einblenden

.pforte-ba {
  #banner {
    display: block;
  }

  #header {
    //display: none;
  }
}
/*------Slider---------*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }
  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}
// .ppjobs_list {
//   margin: rem-calc(64 0);
//   list-style: none;
//
//   li {
//     border-top: 1px solid $medium-gray;
//     @extend %clearfix;
//
//     &:last-child {
//       border-bottom: 1px solid $medium-gray;
//     }
//   }
//
//   a {
//     @extend %clearfix;
//     display: block;
//     position: relative;
//     padding: rem-calc($grid-column-gutter / 2);
//     color: $black;
//     overflow: hidden;
//     text-decoration: none;
//
//     &:focus,
//     &:hover {
//       background: #F1F8F7;
//       color: #000;
//
//       .more::before {
//         background: #daedea;
//         margin-right: rem-calc(-26);
//       }
//
//       .more::after {
//         margin-top: -1.5rem;
//         font-size: 3rem;
//         color: $green;
//       }
//     }
//
//     .more {
//       padding-right: rem-calc(60);
//
//       &::before {
//         content: ' ';
//         position: absolute;
//         right: rem-calc(-10);
//         top: 0;
//         bottom: 0;
//         display: block;
//         margin-right: rem-calc(-36);
//         width: 2rem + rem-calc(50);
//         transform-origin: 100% 0;
//         transform: skew(-10deg);
//         transition: all 0.125s ease-in;
//       }
//
//       &::after {
//         clear: both;
//         right: rem-calc(14);
//         top: 50%;
//         position: absolute;
//         font-family: $body-font-family;
//         content: '❯';
//         margin-top: -1rem;
//         font-size: 2rem;
//         width: rem-calc(32);
//         line-height: 1;
//         text-align: center;
//         transition: all 0.125s ease-in;
//         color: $white;
//       }
//     }
//   }
//
//   h2 {
//     font-size: rem-calc(24);
//     color: $green;
//     margin: 0 0 $grid-column-gutter / 4;
//   }
//
//   h3 {
//     font-size: rem-calc(21);
//     color: $green;
//     margin: 0 0 $grid-column-gutter / 4;
//   }
//
//   p {
//     margin: 0;
//   }
//   @include breakpoint(medium) {
//     p {
//       &.job_date,
//       &.job_location {
//         float: left;
//         width: 60%;
//       }
//
//       &.job_date {
//         padding-right: $grid-column-gutter / 2;
//         width: 40%;
//       }
//     }
//   }
//   @include breakpoint(large) {
//     p {
//       float: left;
//       width: 50%;
//
//       &.job_date {
//         width: 20%;
//       }
//
//       &.job_location {
//         width: 30%;
//         padding-right: $grid-column-gutter / 2;
//       }
//     }
//   }
// }
