@charset 'utf-8';
@import 'settings';
@import 'mixins';
@import 'foundation';
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;

*,
* ::after,
* ::before {
  box-sizing: border-box;
}

%clearfix {
  @include clearfix();
}

.outer {
  max-width: 100%;
  overflow: hidden;
}

.section {
  margin: 0 auto;
  max-width: rem-calc(320);
}

.page-wrap {
  margin: 0 auto;
  max-width: rem-calc(284);
}

// Headlines
h1 {
  margin-bottom: 0;
}

.light-blue {
  background-color: $light-blue;
}

.dark-blue {
  background-color: $dark-blue;
}

.peach {
  background: $peach;
}

.t-peach {
  border-color: $peach;
}

@include breakpoint(xlarge) {
  .section {
    max-width: rem-calc(1920);
  }

  .page-wrap {
    max-width: rem-calc(1280);
  }
}
//Navigation

.main-nav {
  background: $blue;
}

.main-menu {
  list-style-type: none;
}
//menu-button

.menu-button {
  display: block;
  cursor: pointer;

  &.active {
    .menu-button-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.menu-button-box {
  width: rem-calc(50);
  height: rem-calc(50);
  padding: rem-calc(10);
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: transform 0.25s;
  background-color: $dark-blue;
}

.menu-button-label {
  color: $dark-blue;
  vertical-align: middle;
}

.menu-button-inner {
  display: block;
  top: 100%;
  margin-top: rem-calc(-27);
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &::after,
  &::before {
    width: rem-calc(30);
    height: rem-calc(5);
    background-color: $white;
    border-radius: rem-calc(1);
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::after,
  &::before {
    content: "";
    display: block;
  }

  &::before {
    top: rem-calc(11);
    right: rem-calc(0);
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }

  &::after {
    bottom: rem-calc(11);
    right: rem-calc(0);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
// Content
.main {
  padding-top: $grid-column-gutter/2;
}
// Breadcrumb

.breadcrumb {
  display: none;
}

// Head Box
.head-box {
  display: flex;
  flex-direction: column;
  padding: $grid-column-gutter/3;
  margin-bottom: $grid-column-gutter/3;

  .h-category,
  h1 {
    color: $white;
  }

  h1 {
    order: 2;
  }

  .h-category {
    order: 1;
  }
}

// Content Box
.content-box {
  ul {
    margin-left: 0;
  }

  li {
    display: block;

    &::before {
      content: ''
    }

    &:nth-child(odd) {
      background-color: $blue;
    }
  }
}
